<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>732486862331-4it2jqb5v7smvqvmk44jo03r9uea4gdj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.732486862331-4it2jqb5v7smvqvmk44jo03r9uea4gdj</string>
	<key>API_KEY</key>
	<string>AIzaSyCxKfCFicI6_TPrQOdvlS5vGyuoKzmSCE0</string>
	<key>GCM_SENDER_ID</key>
	<string>732486862331</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.vmodel.social</string>
	<key>PROJECT_ID</key>
	<string>vmodel-9109b</string>
	<key>STORAGE_BUCKET</key>
	<string>vmodel-9109b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:732486862331:ios:b0a94929da57cfd276375e</string>
</dict>
</plist>